@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  color: maroon;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}




/*===========================
            HEADER
============================*/

header {
  background: linear-gradient(135deg, black 11.1%, darkblue 22.2%, purple 33.3%, black 44.4%, darkblue 55.5%, purple 66.6%, black 77.7%, darkblue 88.8%, purple 100%);
  position: fixed;
  padding: 1.25%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

li {
  list-style-type: none;
}

.nav-item a,
.nav-branding {
  color: pink;
  text-decoration: none;
}


.nav-menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}


.nav-branding {
  font-size: 2rem;
  color: white;
}




/*=================================
        SOCIAL MEDIA 
================================*/
#socialMedia {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: purple;
  padding: 10% 5% 10% 5%;
}

.profileCard {
  display: flex;
  height: 350px;
  width: 80%;
  cursor: pointer;
  box-shadow: -1rem 0 3rem #000;
  margin: 0;
  position: relative;
  left: 0px;
  border-radius: 10px;
  transition: 0.4s ease-out;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, pink, blue, rgb(239, 136, 169), purple);
}

/* 
.profileCard:not(:first-child){
  margin-left: -40px;
} */

.profileCard:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  background-image: radial-gradient(circle 523px at 7.1% 19.3%, magenta, rgb(236, 220, 137), rgb(247, 130, 216), rgb(66, 6, 66));
}

.profileCard:hover~.profileCard {
  position: relative;
  /* left:50px; */
  transition: 0.4s ease-out;
}


.title {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 50px;
  left: 20px;
  height: 3px;
  width: 250px;
}

.emptybar {
  background-color: #2e3033;
  width: 75%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 0;
  height: 100%;
  background-color: #06f745;
  transition: 0.4s ease-out;
}

.profileCard:hover .filledbar {
  width: 75%;
  transition: 0.4s ease-out;
}

.profile-detail {
  width: 100%;
  position: absolute;
}

.profile-detail img {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 20px;
  top: 68px;
  border-radius: 50%;
}

.profile-detail .name {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  top: 156px;
  color: #fff;
}

.profile-detail .post-title {
  position: absolute;
  top: 194px;
  left: 20px;
  color: white;
  font-size: 11px;
}

.profileCard:hover .post-title {
  color: purple;
}

.profileCard:hover .post-description {
  color: purple;
}

.profile-detail .post-description {
  position: absolute;
  top: 225px;
  left: 20px;
  color: white;
  font-size: 10px;
  padding-right: 60px;
}

.profileButton {
  font-size: 10px;
  padding: 5px 0px;
  position: absolute;
  top: 300px;
  left: 20px;
  width: 135px;
  border: 1px solid #eef13b;
  color: #040404;
  text-align: center;
  border-radius: 20px;
  background-color: #eef13b;
}

/*=================================
Making a two column about me section
================================*/

.mainContent {
  background-color: #eaadc4;
  line-height: 2;
  padding: 12%;
  padding-bottom: 8%;
  margin: 1%;
  box-shadow: inset -17px -18px 9px 6px #f475e1, inset 17px 18px 9px 6px #dd568f;
  width: 100%;
  box-sizing: content-box;
}

.sections {
  color: red;
  padding: 3%;
}

.aboutMeParagraph {
  text-align: justify;
}



/*============================
      CONTENT HEADINGS
==============================*/


.contentHeadings {
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  margin: 3% 0;
  letter-spacing: -2px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
  color: rgb(246, 240, 247);
  background: linear-gradient(to right, pink, magenta, blue, lavender, purple);
}

/*============================
      SHOP 
==============================*/

.shop-section {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}


#customBraceletDiv {
  text-align: center;
  margin: 0;
  max-width: 100%;
  /* Set the maximum width of the grid item to 100% */
  height: auto;
  /* Set the height of the grid item to auto */
}


#customBraceletDiv img {
  width: 100%;
  /* Set the image width to 100% of its container */
  height: auto;
  /* Maintain the aspect ratio of the image */
}

.customBraceletDetails {
  text-align: center;
  margin: 0;
}

.customBraceletDetails .item-title {
  font-size: 20px;
  color: #8b008b;
  /* Dark magenta */
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.customBraceletDetails .item-description {
  text-align: center;
  margin-bottom: 10px;
}

.customBraceletDetails .item-details {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the item details */
  margin-bottom: 10px;
}

.customBraceletDetails .item-price {
  font-size: 25px;
  color: #8b008b;
  /* Dark magenta */
  text-transform: uppercase;
  margin-right: 10px;
}

.customBraceletDetails .buyButton {
  background: linear-gradient(to bottom, #8b008b, #4f4f4f);
  padding: 20px 60px;
  /* Increased button padding */
  font-size: 24px;
  /* Increased button font size */
  color: white;
  display: block;
  margin: 0 auto;
}

.customBraceletDetails .buyButton a {
  text-decoration: none;
  /* Remove underline */
  color: white;
  /* Set text color to white */
}

#shopTikTok {
  text-align: center;
  margin: 0;
}

#shopTikTok .tiktokShopMessage {
  text-align: center;
  margin: 20px 0;
}

#shopTikTok .tiktokShopMessage img {
  max-width: 100px;
  /* Adjust as needed */
}

#shopTikTok .decorativeLine {
  border-top: 1px solid #000;
  margin: 20px 0;
}

#tiktok-image {
  transition: transform 0.2s;
}

#tiktok-link:active #tiktok-image {
  transform: scale(0.9);
}

#tiktok-link:hover #tiktok-image {
  transform: scale(1.1);
}


/*==============================
            BACK TO TOP
================================*/

#back2Top {
  float: right;
}


/*===================================================
            ABOVE FOOTER - CONTACT ME 
  ====================================================*/

.aboveFooter {
  display: block;
    text-align: center;
    padding: 9%;
  box-shadow: inset -11px -14px 9px 4px rgb(119 20 221), inset 17px 24px 9px -2px rgb(0 212 255);
  border: 7px double #787dde;
  background-color: #f5eaef;
  margin-bottom: 2%;
}

#email-img {
  display: block;
  margin: 0 auto;
}



/* Basic styling for the email button */
.email-button {
  display: inline-block; /* Display as inline-block to make it act like a button */
  padding: 10px 20px; /* Padding for spacing inside the button */
  background-color: #007bff; /* Button background color */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the image horizontally */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  text-decoration: none; /* Remove default underline */
}


/* Hover effect */
.email-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

/* Styling for the email image */
#email-img {
  max-width: 100%; /* Make sure the image is responsive */
  height: auto; /* Maintain aspect ratio */
  vertical-align: middle; /* Align image vertically center */
}


/*==============================
            FOOTER
================================*/

.footer {
  background-color: purple;
  color: #fff;
  padding: 20px 0;
  width: 125%;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer-nav li {
  margin: 0;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: pink;
}

.social-icons {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: pink;
}