
@media screen and (max-width: 2560px) {

/* 


#content{
    margin-left: 0%;
    margin-right: auto;
}

}

@media only screen and (max-width: 768px) {

    
    #projects{
        width: 97%;
        padding: 6%;
    }

    footer {
      height: auto;
      flex-direction: column;
    }

    #webDevelopment-container {
      flex-direction: column;
    }
  
    .iframe-wrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }



}
  

@media screen and (max-width: 640px) {
    .bar {
        right: -33%;
    }
}


@media screen and (max-width: 475px) {
    
    body{
        margin: 0% 1% 0% -1%;
    }

    header{
        width: 109%;
    }

    .nav-menu.active {
        right: -42px;
    }

    #welcome{
        width: 113%;
    }


    .flexItem {
        width: 74%;
        margin: 3%;
        padding: 11%;
    }

    

    .projects {
        width: 110%;
        padding: 10%;
    }

    .donation-container {
        padding: 2%;
        margin: 3%;
    }

    #headerLogo{
        width: 75px;
        height:75px;
    }

    #messageBox{
        padding: 10%;
    }
   .mainContent{
    width: 110%;
    padding: 8%;
   }

   #aboutLogo, #butterflyWoman{
    height: auto;
    width: 40%;
   }

   #aboveFooter {
    width: 106%;
   }

   footer{
    width: 107%;
   }
}


@media screen and (max-width: 425px) {

    header {
        width: 122%;
    }

    .nav-menu.active {
        right: -88px;
    }

    .nav-menu {
        width: 111%;
    }

    #content{
        width: 110%;
    }

    .mainContent{
        padding: 13%;
        width: 122%;
    }

    #welcome{
        width: 122%;
    }

    .flexItem {
        width: 96%;
    }

    .projects {
        width: 109%;
    }


    div.jewelry img {
        width: 50%;
    }

    

    .donation-container {
        width: 107%;
    }

    #aboveFooter{
        width: 110%;
    }

    footer{
        width: 122%;
    }
}


@media screen and (max-width: 390px) {
   
    body{
        margin-right:15%;
    }

    header{
        width: 124%;
        margin: -2% 0% 0 -3%;;
    }

    .nav-branding {
        font-size: 1.25rem;
    }

    .nav-menu {
        width: 124%;
    }

    #welcome{
        width: 126%;
    }

    #email-img, #donate-img{
        width: 85%;
        margin: 4%;
    }

    .video-container {
        box-shadow: -14px 12px 15px #0077FF, 13px -13px 20px 1px #0077FF;
        width: 270px;
        height: 270px
    }
   
}

@media screen and (max-width: 320px) {

    header{
        width: 129%;
        margin: -5% 0% 0 -4%;
    }
    

    .nav-menu {
        width: 129%;
    }

    #welcome {
        width: 125%;
    }

    #gitHubLink{
        font-size: small;
    }
     #aboutMe{
      font-size: 7vw;
     }

     #content{
        width: 124%;
     }

     #facebookPosts, #comingSoon #shop{
        font-size: 25px;
     }

     .video-container {
        width: 200px;
        height: 270px;
     }

    

    div.jewelry img {
       height: 50%;
    }

    footer {
        width: 138%;
    }
   
}


@media screen and (max-width: 309px) {

    .nav-menu {
        width: 130%;
    }
}