/* Mobile L - 425 */

@media screen and (min-width: 425px) {

    .wrapper {
        margin-top: 16%
    }

}

@media screen and (min-width: 575px) {
    .wrapper {
        margin-top: 12%;
    }

    .footer-nav,
    .social-icons {
        flex-direction: row;
    }

    .profileCard {
        width: 48%;
    }

    #socialMedia {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contentHeadings {
        margin: -4% 0 7% 0;
    }
}

@media screen and (min-width: 640px) {
    .wrapper {
        margin-top: 11%;
    }

}

@media screen and (min-width: 767px) {
    .wrapper {
        margin-top: 9%;
    }

    .profileCard {
        width: 31%;
    }

}

@media screen and (min-width: 991px) {
    .wrapper {
        margin-top: 8%;
    }

}

@media screen and (min-width: 1199px) {
    .wrapper {
        margin-top: 7%;
    }

    .profileCard {
        width: 18%;
        height: 380px;
    }

    .bar {
        width: 207px
    }

    .profile-detail .post-title {
        font-size: 9px
    }

    .profileButton {
        top: 335px;
    }
}


@media screen and (min-width: 1280px) {
    .wrapper {
        /* left: -13px;
            position: absolute; */
        margin-top: 6%;

    }

    .mainContent {
        padding: 12% 10% 12% 10%;
    }

    .footer {
        width: 121%;
    }
}

@media screen and (min-width: 2560px) {
    .wrapper {
        margin-top: 4%;
    }

    .MQ_Mac_2560 {
        display: flex;
        flex-direction: row;
        width: 122%;
    }

    header {
        width: 99.15%;
    }

    .footer {
        width: 121%;
    }

    .profileCard {
        width: 45%;
        height: 432px;
    }
}