@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body{
    background-color: brown;
    color: maroon;
    font-family: 'Permanent Marker', cursive;
    /* margin: auto;
    padding: 3%; */
}

#content{
    border: 20px solid brown;
    background-color:  rgb(237, 222, 199);
    background-image: url("../photos/pinkGradient.jpg");
    background-size:cover;
    padding: 3% 3% 3% 3%;
    margin-left: 2%;
    margin-right: -3%;
}



header{
    padding: 3%;
    background-color: pink;
    height: 85px;
    margin: 0%;
    border: 13px brown solid; 
    
}

#headerLogo{
    float:left;
}


#headerNav{
    color: purple;
    font-size: 15px;
}

#headerNav a{
    margin: auto 3% auto 3%;
    text-decoration: none;
}


/*=================================
Making a two column about me section
================================*/

.flex-container {
    display: flex;
  }

.flexItem{
    width: 50%;
    background-color: #eaadc4;
    line-height: 2;
    padding: 4%;
    margin: 2%;
    box-shadow: inset -17px -18px 9px 6px #f475e1, inset 17px 18px 9px 6px #dd568f;
  }

#profilePic {
    border: 25px double maroon;
}


.sections, h2{
    color: red;
    padding:3%;
    margin: 5px;
    font-weight: 400;
}

#aboutMe{
    padding:3%;
}

.aboutMeParagraph{
    text-align: justify;
}

/*==============================
            EXPERIENCE
================================*/

#experienceBox{
    border: 12px double magenta;
    padding: 5%;
    background-color: #babfee;
    margin: 2%;
    box-shadow: inset -17px -18px 9px -5px #e790d8, inset 17px 18px 9px -5px #afe8df;
}

#experienceList{
    display: flex; /* or inline-flex */
    flex-direction: column;
    justify-content:space-between;
    gap: 5px;

}

#experienceList p{
    border: 2px solid red;
    padding: 5px;
}

#experienceList p:nth-child(odd) {
    background: rgb(246, 200, 230);
  }

#experienceList p:nth-child(even) {
    background: rgb(172, 219, 232);
  }
#back2Top{
    float:right;
}


/*==============================
            SKILLS
================================*/
#skills ul, #experience + h2{
    text-transform: uppercase;
    color:purple;
}

#skills ul li {
    border: 2px solid red;
    background-color: cornsilk;
    display: inline-block;
    margin: 3%;
    padding: 4%;
}

/*Flex item for skills and projects*/

.flexItem2nd{
    width: 50%;
    background-color: #f6e3e3;
    line-height: 2;
    padding: 3%;
    margin: 2%;
    box-shadow: inset -17px -18px 9px 6px #c508eb, inset 17px 18px 9px 6px #6828ea;
   
  
  }

  #projects ul li{
    font-size: small;
  }
 /*================================================================
               CONNECT - This is where the list of repositiories is
  ================================================================*/

#socialBox{
    display: flex;
    border: 12px double #5997da;
    padding: 3%;
    background-color: #d0f1cf;
    margin: 2% auto 2% auto;
    box-shadow: inset -17px -18px 9px -5px #909be7, inset 17px 18px 9px -5px #3abca7;
}

#connectFlexContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#socialBox p, #socialBox div{
    border: 5px dotted purple;
    margin: 3%;
    width: 50%;
    padding: 3%;
    color:purple;
}

  /*==============================
                MESSAGE BOX
  ================================*/

  #messageBox{
    box-shadow: inset -11px -14px 9px 4px rgb(119 20 221), inset 17px 24px 9px -2px rgb(0 212 255);
    padding: 3%;
    border: 7px double #787dde;
    background-color: #f5eaef;
  }





/*==============================
            FOOTER
================================*/

footer{
    background-color: brown;
    color:white;
    margin-bottom: -10px;
    height: 45px;
    padding: 5px;
    margin-top:10px;
    width: 104%;
    margin-left: -20px; 
    display: flex;
}

#myCopyright{
    margin-left: 5%;
}

#footerNav{
    display: inline-flex;
    padding-right: 40px;
    margin-right: 10%;
    width: 100%;
    align-content: space-between;
    justify-content: space-around;
}

#footerNav a{
    color:rgb(246, 200, 230);
}
